body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.social-media {
    float: left;
    list-style: none;
    padding-right: 14px;
}
.social-media img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#greetings {
    vertical-align: middle;
    background: url('../assets/background.jpg');
    background-position: center;
    max-width: 100%;
    height: 100vh;
    width: 100%;
    box-sizing: content-box;
    min-height: 500px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;;
}

#greetings .text {
    font-size: 1.60em;
    line-height: 0.9999em;
    text-align: center;
    margin-top: 25px;
    font: bold;
    color: #fff;
    position: absolute;
    top: 45%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    width: 100%;
    bottom: 0;
    height: 3.3em;
    font-size: 18px;
    text-decoration: inherit;
    color: #fff;
    position: absolute;
}

#navbar {
    position: absolute;
    margin: auto;
    width: 80%;
}

.nav-item {
    display: inline;
    font-size: 20px;
    padding-left: 50px;
    color: #fff;
}

#skills {
    color: #fff;
    text-align: center;
    height: 200px;
    min-height: 150px;
    width: 100%;
    background: url(../assets/background2.jpg);
}

#skills img {
    width: 86px;
    height: 86px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0;
}

#about {
    background: url(../assets/background2.jpg);
    color: #fff;
    background-attachment: fixed;
}

#about p {
    width: 40%;
    line-break: normal;
    font-size: 18px;
}

.bgimage {
    background: url(../assets/background2.jpg);
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}