body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../assets/background-img.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.social-media {
    float: right;
    list-style: none;
    padding-right: 7px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#greetings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.71em;
    line-height: 0.5em;
    text-align: center;
    width: 100%;
    box-sizing: content-box;
}

#grettings h2 {
    padding-top: 100px;
}

#footer {
    background: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3em;
    text-decoration: inherit;
    color: #fff;
}

#navbar {
    background: #333;
    color: #fff;
}

#navbar ul {
    padding: 0;
}

.nav-item {
    display: inline;
    font-size: 20px;
    padding-right: 25px;
}
