/* Palette
* #222831
* #393e46
* #00adb5
* #eeeeee
*/


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #00adb5;
    color: #eeeeee;
}

.nav-item {
    display: inline;
    padding-right: 20px;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    color: #222831;
    text-align: center;
    text-decoration: none;
}

main {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2em;
}
